:root {
    font-size: 16px;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    scroll-behavior: smooth;
    --bg-color: #d6d4cb;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: left = 50vw;
}
.description {
    position: relative;
    margin-bottom: 20px; /* Add a margin to create space between description and workplace */
}

.workplace {
    position: relative; /* Change position to relative */
    width: 100%;
    max-width: 600px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the workplace horizontally */
}


#prediction_result {
    font-size: 3rem;
}